<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles.css">
    <title>Document</title>
    <style>
    /*global styles for pages*/
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
     background: rgb(5, 5, 84, 0.8);
     text-decoration: none;
     top: 0;
     position: fixed;
     z-index: 999;
     width: 100%;
     display: flex;
     justify-content: flex-end;
     padding: 5px 50px;
}

nav .left {
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px 8px;
    margin: 0 10px;
}

    
    
    .addProjectsCon2 {
        display: flex;
        margin: 150px 100px 0px 200px;
        /* border: 2px solid red; */
        /* justify-content: center; */
        /* align-items: center; */
        /* justify-content: space-evenly; */
        /* width: 100%; */
    }
    
    
    .addProjectsCon2 .imgBx {
        width: 50%;
        height: 100%;
        /* border: 2px solid red; */
        margin-top: 15px;
    
    }
    
    .addProjectsCon2 .imgBx img{
        width: 100%;
        height: 100%;
    
    }
    
    .addProjectsCon2 .form {
        width: 50%;
        /* margin-top: 100px; */
        /* border: 2px solid red; */
        /* padding-left: 50px; */
    
    }
    
    .addProjectsCon2 .form form {
        border: 10px solid rgba(79, 5, 63, 0.8);
        width: 450px;
        text-align: center;
        padding: 20px;
        margin-top: 2px;
        /* height: 100%; */
        
    }
    
    .addProjectsCon2 .form form h1 {
        font-size: 50px ;
        font-weight: 500;
        margin-bottom: 20px;
    }
    
    .addProjectsCon2 .form form label{
        padding: 20px 0px;
        font-size: 18px;
        /* color: red */
    }
    
    .addProjectsCon2 .form form input{
        margin: 15px 0px;
        border: 1px solid silver ;
        border-bottom: 3px solid rgba(79, 5, 63, 0.8);
        padding: 5px 8px;
    }
    
    .addProjectsCon2 .form form input[type='text'] {
        width: 240px;
        word-wrap: break-word;
    
    }
    
    .addProjectsCon2 .form form input[type='submit'] {
        border: none;
        outline: none;
        background: rgba(79, 5, 63, 0.8);
        width: 150px;
        color: white;
        padding: 5px 8px;
        border-radius: 5px;
        cursor: pointer;
        transition: all ease-in-out 0.8s;
    }
    
    .addProjectsCon2 .form form input[type='submit']:hover {
        background: rgb(79, 5, 63);
    }
        </style>

</head>
<body>

    <div class="pages">
        <%- include('../views/partials/nav.ejs') %>
    </div>

    <div class="addProjectsCon2">
        <div class="imgBx">
            <img src="https://img2.10bestmedia.com/Images/Photos/394918/ENEKO-BASQUE-73_55_660x440.jpg" alt="">
        </div>
        <div class="form">
            <form action="/viewOrders/update" method="post">
                <h1>Update Customer Order:</h1>
            <input type="hidden" name="id" value="<%= cust_orders[0].id %>">
                <div>
                    <label for="">Customer Email: </label>
                    <input type="text" name="cust_email" for="" value="<%= cust_orders[0].customer_email %>">
                </div>
            
                <div>
                    <label for="">Customer Order</label>
                    <input type="text" name="cust_order" for="" value="<%= cust_orders[0].customer_cust_orders%>" placeholder="<%= cust_orders[0].customer_cust_orders%>">
                </div>

                <div>
                    <label for="">Order Date</label>
                    <input type="datetime-local" name="order_date" for="" value="<%= new Date(cust_orders[0].order_date).toLocaleString()%>">
                </div>
                <div>
                    <input type="submit" id="" value="Update Notes">
                </div>
                </form>
        </div>
    </div>

   
</body>
</html>