<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>View Orders</title>
</head>
<body>
    <%- include('../views/partials/nav.ejs') %>
    <h1>View Orders</h1>
    <form action="" method="post">
   
        <% if(orders.length) {
            for(var i = 0; i < orders.length; i++) { 
        %>
        <tr>
            <td class="centered"><%= orders[i].id %></td>
            <td><%= orders[i].customer_email %></td>
            <td><%= orders[i].customer_order %></td>           
            <td><%= orders[i].order_number %> </td>           
            <td><%= new Date(orders[i].order_date).toLocaleDateString('fr-CA') %></td>           
            <td class="centered">
                <a class="light" href="">Update</a> <!--this refers to the index of the current data collection which is currently stored as data-->
                <a class="warn" href="">Remove</a>
                <a class="add" href="" style="margin-right: 10px;">Confirm</a>
            </td>

        </tr>
           <% }
      }else{ %>
        <tr>
            <td>No Current Orders Listed</td>
        </tr>
       <% } %>
    </tbody>
</table>
</body>
</html>